<div class="cabecalho">
  <h1 class="title">Starships</h1>

  <div class="page-content">
    <div class="table-result">
      <table id="customers">
        <tr>
          <th>Nome</th>
          <th>Modelo</th>
          <th>Criado em</th>
          <th>Capacidade</th>
          <th>Classe</th>
        </tr>
        <tr *ngFor="let data of starships">
          <td>{{ data.name }}</td>
          <td>{{ data.model }}</td>
          <td>{{ data.created }}</td>
          <td>{{ data.cargo_capacity }}</td>
          <td>{{ data.starship_class }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="paginacao">
    <button (click)="prevPage()" [disabled]="currentPage === 1"><</button>
    {{ currentPage }}
    <button (click)="nextPage()" [disabled]="currentPage === countPages">
      >
    </button>
    {{ countPages }}
    {{ count }}
  </div>
</div>
